.card-header {
  background: none;
  border: none;
}
.card {
  border: none;
}
.card-link {
  outline: none;
}
.elementContainer {
  display: flex;
  flex-direction: row;
}
.elementImage {
  width: 6rem;
}
.elementDescription {
  flex: 60%;
}
.elementPrice {
  flex: 25%;
}
h3 {
  padding-left: 1rem;
}
p {
  line-height: 1.4rem;
}
.elementPrice img {
  height: 1.8rem;
  padding-left: 0.5rem;
}
.articleAmount {
  width: 4rem;
}
.dot{
  height: 1rem;
  width: 1rem;
  background-color: #888;
  border-radius: 50%;
  margin: 1rem;
}
.dot:hover{
  background-color: #fff;
}
@media screen and (max-width: 680px) {
  .elementContainer {
    display: flex;
    flex-direction: column;
  }
  .elementImage {
    width: 6rem;
    margin: auto;
    margin-bottom: 1rem;
  }
}
