body{
  background-color: #d2ab99;
  font-weight: bold;
}
footer{
  padding-top: 30px;
  padding-bottom: 25px;
  text-align: center;
  font-weight: normal;
}
footer a{
  color: black;
}
.navbar-brand{
  font-family: 'Shadows Into Light', cursive;
  font-size: 35px;
}
.nav-item{
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
}
.carouselImage {
  width: 100%;
  height: 600px;
}
.card-header {
  background: none;
  border: none;
  padding: 0;
  background-color: #d2ab99;
}
.imageSection {
  width: 100%;
  height: 17rem;
  box-shadow: 0.5em 0.5em 1.5em 1em grey;
}
.card {
  border: none;
}
.card-body {
  border-right: 1px solid rgba(229, 229, 229, 0.8);
  border-left: 1px solid rgba(229, 229, 229, 0.8);
}
.card-link {
  outline: none;
}
.elementContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.elementImage {
  width: 6rem;
  padding-top: 20px;
}
.elementDescription {
  flex: 60%;
  padding-top: 20px;
}
.elementPrice {
  padding-top: 20px;
}
h3 {
  padding-left: 1rem;
}
p {
  line-height: 1.4rem;
}
.elementPrice img {
  height: 1.8rem;
  padding-left: 0.5rem;
}
.articleAmount {
  width: 4rem;
}
.dot{
  height: 1rem;
  width: 1rem;
  background-color: #888;
  border-radius: 50%;
  margin: 1rem;
}
.dot:hover{
  background-color: #fff;
}
hr {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 860px) {
  .elementContainer {
    display: flex;
    flex-direction: column;
  }
  .elementImage {
    width: 6rem;
    margin: auto;
    margin-bottom: 1rem;
  }
  .carouselImage {
    width: 100%;
    height: auto;
  }
}
